@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-midnightBlue: #1C1D54;
  --color-skyBlue: #7ec0f9;
  --color-tropicalBlue: #0772fc;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-caveat: var(--font-caveat-brush);
  --font-mplus: var(--font-mplus);

  --animate-star-twinkle: twinkle 5s ease-in-out infinite;

  @keyframes twinkle {
    0%, 100% {
      opacity: 0.3;
    }
    50% {
      opacity: 1;
    }
  }
}