:root {
  --maxWindowWidth: 1470;
  --colorGradient: linear-gradient(to right, white, rgb(168, 168, 168));
}

html {
  background-color: black;
}

.Title-Card {
  border: 1px solid gray;
  box-shadow: 5px 5px 5px rgb(45, 45, 45);
  border-radius: 20px;

  padding: 1rem;
  margin: auto;

  width: 37rem;

  font-family: Arial, sans-serif;
  text-align: center;
  
}

.Title-Card .Title-Card-Name {
  font-size: 5rem;
  background-image: var(--colorGradient);
  color: transparent;
  background-clip: text;

}

.Title-Card .Title-Card-Description {
  font-size: 1.5rem;
  background-image: var(--colorGradient);
  color: transparent;
  background-clip: text;

}

.learnmore {
  font-family: Arial, sans-serif;
  font-size: 3rem;

  text-align: center;
  margin-top: 150px;

  background-image: var(--colorGradient);
  color: transparent;
  background-clip: text;
}

.HomePageButtonDiv, .ProjectsPageButtonDiv {
  display: flex;
  justify-content: space-evenly;

  max-width: var(--maxWindowWidth);
}

.HomePageButton, .ProjectsPageButton {
  border: 1px solid gray;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(45, 45, 45);
  background-color: black;

  margin-top: 50px;
  padding: 1.5rem;

  max-width: 20rem;
  max-height: 25rem;
  height: 25rem;
  width: 20rem;

  font-family: Arial, sans-serif;
  
  cursor: pointer;
}


.HomeCardHeader, .ProjectCardHeader {
  font-size: 2.5rem;
  text-align: left;
  background-image: var(--colorGradient);
  color: transparent;
  background-clip: text;
  
}

.HomeCardPara, .ProjectCardPara {
  color: white;
  font-size: 1.1rem;
  text-align: left;
  line-height: 1.5;
}

.HomeFooter {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  color: white;
  margin: 100px;
  text-align: center;
}

.pagetitle {
  font-family: Arial, sans-serif;
  font-size: 5rem;

  text-align: center;

  background-image: var(--colorGradient);
  color: transparent;
  background-clip: text;

}

.ProjectCardImg {
  max-width: 35%;
  max-height: 35%;
  width: auto;
  height: auto;

  display: block;
  margin-left: auto;
  margin-right: auto;

  border-radius: 50%;

}

.BackToHomeComp {
  text-align: center;
}

.BackToHomeLink {
  font-family: Arial, sans-serif;
  font-size: 1.1rem;

  background-image: var(--colorGradient);
  color: transparent;
  background-clip: text;
}